name: build-and-test-daily

on:
  schedule:
    - cron: 0 0 * * * # every day at midnight UTC
  workflow_dispatch:

jobs:
  build-and-test-daily:
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [humble, jazzy]
        cuda: [false, true]
        arch: [amd64, arm64]

        # Exclude Jazzy arm64 until autoware docker-build-and-push publishes native arm64 Jazzy images
        exclude:
          - rosdistro: jazzy
            arch: arm64

        include:
          # ROS distribution specific configurations
          - rosdistro: humble
            container-base: ghcr.io/autowarefoundation/autoware:universe-devel

          - rosdistro: jazzy
            container-base: ghcr.io/autowarefoundation/autoware:universe-devel-jazzy-amd64

          # CUDA variant configurations
          - cuda: true
            container-suffix: -cuda
            cache-suffix: cuda

          - cuda: false
            container-suffix: ""
            cache-suffix: nocuda

          # Architecture specific configurations
          - arch: amd64
            runner: "['self-hosted', 'Linux', 'X64']"
            build-pre-command: ""

          - arch: arm64
            runner: "['ubuntu-22.04-arm']"
            build-pre-command: taskset --cpu-list 0-6

    uses: ./.github/workflows/build-and-test-reusable.yaml
    with:
      rosdistro: ${{ matrix.rosdistro }}
      container: ${{ matrix.container-base }}${{ matrix.container-suffix }}
      container-suffix: ${{ matrix.container-suffix }}
      runner: ${{ matrix.runner }}
      build-pre-command: ${{ matrix.build-pre-command }}
      pull-ccache: true
      push-ccache: false
      concurrency-group: build-and-test-daily-${{ matrix.rosdistro }}-${{ matrix.arch }}-${{ matrix.cache-suffix }}-${{ github.ref }}-${{ github.run_id }}
      codecov-flag: daily-${{ matrix.rosdistro }}-${{ matrix.arch }}-${{ matrix.cache-suffix }}
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
