name: build-and-test

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [humble, jazzy]

        include:
          # ROS distribution specific configurations
          - rosdistro: humble
            container: ghcr.io/autowarefoundation/autoware:universe-devel-cuda

          - rosdistro: jazzy
            container: ghcr.io/autowarefoundation/autoware:universe-devel-jazzy-amd64-cuda

    uses: ./.github/workflows/build-and-test-reusable.yaml
    with:
      rosdistro: ${{ matrix.rosdistro }}
      container: ${{ matrix.container }}
      container-suffix: -cuda
      runner: "['self-hosted', 'Linux', 'X64']"
      concurrency-group: build-and-test-${{ matrix.rosdistro }}-${{ github.ref }}
      cancel-in-progress: false
      pull-ccache: false
      push-ccache: true
      codecov-flag: total-${{ matrix.rosdistro }}-cuda
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
